<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-3xl">
        <span>Desarrollado con </span>
        <span class="tw-text-[rgb(103,232,249)]">Tecnologías Modernas</span>
    </div>
    <div class="text-700 mb-6">
        Este proyecto fue desarrollado utilizando <a href="https://angular.dev/" target="_blank" class="tw-underline tw-text-[rgb(103,232,249)]">Angular v19</a> con <a href="https://primeng.org/" target="_blank" class="tw-underline tw-text-[rgb(103,232,249)]">PrimeNg</a>, 
        <a href="https://primeflex.org/" target="_blank" class="tw-underline tw-text-[rgb(103,232,249)]">PrimeFlex</a> y <a href="https://tailwindcss.com/" target="_blank" class="tw-underline tw-text-[rgb(103,232,249)]">Tailwindcss</a> para la interfaz de usuario, 
        para tarabajar en entorno local se utilizo archivos de configuración de  <a href="https://www.docker.com/" target="_blank" class="tw-underline tw-text-[rgb(103,232,249)]">Docker</a> como Dockerfile y docker-compose, tienen su respectiva modificación para desplegarse en producción
        con el archivo de configuracion de <a href="https://nginx.org/" target="_blank" class="tw-underline tw-text-[rgb(103,232,249)]">Nginx</a>, pero actualmente se aloja en <a href="https://www.netlify.com/" target="_blank" class="tw-underline tw-text-[rgb(103,232,249)]">Netlify</a> 
        ya que el servicio es gratis.
    </div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-github text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">GitHub</div>
            <span class="text-700 line-height-3">
                Encuentra el código fuente en 
                <a href="https://github.com/DiegoRT10/CV.git" target="_blank" class="tw-underline tw-text-[rgb(103,232,249)]">GitHub</a>.
            </span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-linkedin text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">LinkedIn</div>
            <span class="text-700 line-height-3">
                Conecta conmigo en 
                <a href="https://www.linkedin.com/in/diego-torres-ba168b258/" target="_blank" class="tw-underline tw-text-[rgb(103,232,249)]">LinkedIn</a>.
            </span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-instagram text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Instagram</div>
            <span class="text-700 line-height-3">
                Sígueme en 
                <a href="https://instagram.com/diegod.10" target="_blank" class="tw-underline tw-text-[rgb(103,232,249)]">Instagram</a> 
                para más actualizaciones.
            </span>
        </div>
    </div>
</div>
