<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 sm:col-2 text-center md:text-left flex align-items-center ">
        <section>
            <span class="tw-block tw-text-6xl tw-font-bold mb-1">Diego Alexis Ramos Torres</span>
            <div class="tw-text-6xl tw-text-[rgb(103,232,249)]  tw-font-bold tw-mb-3">Analista de sistemas y
                Desarrollador Full
                Stack</div>
            <p class="tw-mt-0 tw-mb-4 tw-text-700 tw-line-height-3 tw-leading-relaxed">
                Actualmente cuento con cierre de pénsum
                de la carrera de ingeniería en ciencias y
                sistemas CUNORI-USAC, me considero analista
                de sistemas ya que he creado sistemas
                analizando los problemas que tenia cada
                entidad en la que trabaje además me
                considero developer full stack, ya que manejo
                programación del lado del frontend, backend,
                db y CI/CD, he trabajado con tecnologias como:
                Angular, NodeJs, SQL, Nginx, Jenkins, Ansible,
                Docker entre otros.
            </p>

            <button pButton label="Vista Completa" class="tw-mr-3 p-button-raised" (click)="focusExperience()"></button>
            <a pButton label="Vista PDF" class="p-button-outlined"
                href="https://firebasestorage.googleapis.com/v0/b/botdoc-c599e.appspot.com/o/CV-DIEGO-RAMOS.pdf?alt=media&token=2201e9d1-d5ba-4cf0-882d-c9ed8a99cd21"
                target="_blank" rel="noopener noreferrer" download>
            </a>


        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden bg-gray-900">
        <img src="../../../assets/img/me.jpeg" alt="Image" class="md:tw-ml-auto tw-block md:tw-h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>