<h1 class="tw-text-center tw-font-bold tw-text-4xl sm:tw-text-5xl md:tw-text-6xl lg:tw-text-7xl">Educación</h1>
<br>
<div class="card tw-flex tw-justify-center tw-px-2 sm:tw-px-4 lg:tw-px-16">
    <p-stepper [(value)]="activeStep" class="tw-w-full">
        <p-step-list class="tw-flex tw-flex-wrap tw-gap-4 tw-justify-center md:tw-justify-between">
            <p-step [value]="1">
                <ng-template #content let-activateCallback="activateCallback" let-value="value">
                    <button class="tw-bg-transparent tw-border-0 tw-inline-flex tw-flex-col tw-gap-2" (click)="activateCallback()">
                        <span
                            class="tw-rounded-full tw-border-2 tw-w-16 tw-h-12 tw-inline-flex tw-items-center tw-justify-center tw-shadow-md tw-shadow-[rgb(103,232,249)]"
                            [ngClass]="{
                                'tw-border-primary': value <= activeStep,
                                'tw-border-surface': value > activeStep
                            }"
                        >
                            <i class="pi pi-graduation-cap"></i>
                        </span>
                    </button>
                </ng-template>
            </p-step>
            <p-step [value]="2">
                <ng-template #content let-activateCallback="activateCallback" let-value="value">
                    <button class="tw-bg-transparent tw-border-0 tw-inline-flex tw-flex-col tw-gap-2" (click)="activateCallback()">
                        <span
                            class="tw-rounded-full tw-border-2 tw-w-16 tw-h-12 tw-inline-flex tw-items-center tw-justify-center"
                            [ngClass]="{
                                'tw-border-primary tw-shadow-md tw-shadow-[rgb(103,232,249)]': value <= activeStep,
                                'tw-border-surface': value > activeStep
                            }"
                        >
                            <i class="pi pi-hammer"></i>
                        </span>
                    </button>
                </ng-template>
            </p-step>
            <p-step [value]="3">
                <ng-template #content let-activateCallback="activateCallback" let-value="value">
                    <button class="tw-bg-transparent tw-border-0 tw-inline-flex tw-flex-col tw-gap-2" (click)="activateCallback()">
                        <span
                            class="tw-rounded-full tw-border-2 tw-w-16 tw-h-12 tw-inline-flex tw-items-center tw-justify-center"
                            [ngClass]="{
                                'tw-border-primary tw-shadow-md tw-shadow-[rgb(103,232,249)]': value <= activeStep,
                                'tw-border-surface': value > activeStep
                            }"
                        >
                            <i class="pi pi-building-columns"></i>
                        </span>
                    </button>
                </ng-template>
            </p-step>
        </p-step-list>

        <p-step-panels>
            <p-step-panel [value]="1">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="tw-flex tw-flex-col tw-gap-4 tw-h-auto">
                        <p-card class="custom-card tw-shadow-lg tw-shadow-[rgb(103,232,249)]">
                            <ng-template #title> Instituto Normal para Varones de Oriente INVO</ng-template>
                            <ng-template #subtitle> Enero 2017 - Octubre 2018 </ng-template>
                            <p class="tw-text-sm sm:tw-text-base md:tw-text-lg lg:tw-text-xl tw-leading-relaxed">
                                Graduado estando en el cuadro de honor en la carrera de bachillerato en ciencias y letras con orientación en computación, donde fui galardonado con el botón de oro entregado por Universidad Rafael Landivar.
                            </p>
                            <a href="https://www.facebook.com/INVO.CHIQUIMULA/?locale=es_LA" class="tw-text-[rgb(103,232,249)]">INVO</a>
                        </p-card>
                        </div>

                    <div class="tw-flex tw-pt-6 tw-justify-end">
                        <p-button (onClick)="activateCallback(2)" label="Siguiente" icon="pi pi-arrow-right" iconPos="right" class="tw-w-full sm:tw-w-auto sm:tw-h-auto"/>
                    </div>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="2">
                <ng-template #content let-activateCallback="activateCallback">
                    
                        <div class="tw-flex tw-flex-col tw-gap-4 tw-h-auto">
                            <p-card class="custom-card tw-shadow-lg tw-shadow-[rgb(103,232,249)]">
                                <ng-template #title>Instituto Técnico de Capacitación y
                                    Productividad INTECAP</ng-template>
                                <ng-template #subtitle> Abril 2017 - Mayo 2018 </ng-template>
                                <p class="tw-text-sm sm:tw-text-base md:tw-text-lg lg:tw-text-xl tw-leading-relaxed">
                                    Se obtuvo seis diplomas como reparador e instalador de equipo de computo
                                </p>
                                <a href="https://intecap.edu.gt/" class="tw-text-[rgb(103,232,249)]">Intecap</a>
                            </p-card>
                            <p-card class="custom-card tw-shadow-lg tw-shadow-[rgb(103,232,249)]">
                                <ng-template #title>Instituto Técnico de Capacitación y
                                    Productividad INTECAP</ng-template>
                                <ng-template #subtitle> Julio 2022 - Noviembre 2022 </ng-template>
                                <p class="tw-text-sm sm:tw-text-base md:tw-text-lg lg:tw-text-xl tw-leading-relaxed">
                                    Se obtuvo cuatro diplomas para la formación del idioma ingles
                                </p>
                                <a href="https://intecap.edu.gt/" class="tw-text-[rgb(103,232,249)]">Intecap</a>
                            </p-card>
                            </div>

                        <div class="tw-flex tw-pt-6 tw-justify-between">
                            <p-button (onClick)="activateCallback(1)" label="Atrás" severity="secondary" icon="pi pi-arrow-left" class="tw-w-full sm:tw-w-auto sm:tw-h-auto"/>
                            <p-button (onClick)="activateCallback(3)" label="Siguiente" icon="pi pi-arrow-right" iconPos="right" class="tw-w-full sm:tw-w-auto sm:tw-h-auto"/>
                        </div>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="3">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="tw-flex tw-flex-col tw-gap-4 tw-h-auto">
                        <p-card class="custom-card tw-shadow-lg tw-shadow-[rgb(103,232,249)]">
                            <ng-template #title>Centro Universitario de Oriente CUNORI</ng-template>
                            <ng-template #subtitle> Febrero 2019 - Noviembre 2024 </ng-template>
                            <p class="tw-text-sm sm:tw-text-base md:tw-text-lg lg:tw-text-xl tw-leading-relaxed">
                                Actualmente cuento con cierre de pénsum de la carrera de Ingeniería en Ciencias y Sistemas, durante mi estancia participe en varios proyectos en beneficio de la universidad.
                            </p>
                            <a href="https://cunori.edu.gt/" class="tw-text-[rgb(103,232,249)]">Cunori</a>
                        </p-card>
                        </div>

                        <div class="tw-flex tw-pt-6 tw-justify-start">
                            <p-button (onClick)="activateCallback(2)" label="Atrás" severity="secondary" icon="pi pi-arrow-left" class="tw-w-full sm:tw-w-auto sm:tw-h-auto"/>
                        </div>
                </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>
</div>
