<div class="tw-p-6 tw-rounded-lg tw-shadow-md">
    <h1 class="tw-text-center tw-font-bold tw-text-3xl sm:tw-text-4xl md:tw-text-4xl lg:tw-text-6xl tw-mb-6">
      Idiomas
    </h1>
    <ul class="tw-space-y-6">

      <li class="tw-flex tw-flex-col tw-space-y-4">
        <span class="tw-font-semibold tw-text-lg">Español</span>
        <p-progressBar [value]="100" [showValue]="false">
          <ng-template #content>
            <span class="tw-text-white tw-font-bold tw-text-sm tw-flex tw-justify-center">C2</span>
          </ng-template>
        </p-progressBar>
      </li>
      
      <li class="tw-flex tw-flex-col tw-space-y-4">
        <span class="tw-font-semibold tw-text-lg">Inglés</span>
        <p-progressBar [value]="50" [showValue]="false">
          <ng-template #content>
            <span class="tw-text-white tw-font-bold tw-text-sm tw-flex tw-justify-center">A2.2</span>
          </ng-template>
        </p-progressBar>
      </li>
      <!-- Francés -->
    </ul>
  </div>
  
  
