
<h1 class="tw-text-center tw-font-bold tw-text-3xl sm:tw-text-4xl md:tw-text-4xl lg:tw-text-6xl">Experiencia</h1>
    <br>
    <p-timeline [value]="dataExperience" align="alternate" styleClass="customized-timeline">
        <ng-template #marker let-event>
            <span 
                class="tw-flex tw-items-center tw-justify-center tw-text-white tw-rounded-full tw-z-10 tw-shadow-lg tw-shadow-[rgb(103,232,249)] tw-bg-[rgb(79, 79, 79)] 
                tw-w-8 tw-h-8 sm:tw-w-8 sm:tw-h-8 md:tw-w-10 md:tw-h-10 lg:tw-w-12 lg:tw-h-12"
            >
                <i class="pi pi-check tw-text-sm sm:tw-text-base md:tw-text-lg lg:tw-text-xl"></i>
            </span>
        </ng-template>
        <ng-template #content let-data>
            <div class="tw-flex tw-flex-col tw-mx-auto tw-max-w-full md:tw-max-w-md lg:tw-max-w-lg">
                <p-card 
                    class="custom-card tw-p-4 sm:tw-p-6 md:tw-p-8 lg:tw-p-6"
                >
                    <ng-template #title class="tw-leading-relaxed"> {{ data.Puesto }} </ng-template>z
                    <ng-template #subtitle class="tw-leading-relaxed"> {{ data.Tiempo }} </ng-template>
                    <p class="tw-text-sm sm:tw-text-base md:tw-text-lg lg:tw-text-xl tw-leading-relaxed">
                        {{ data.Descripcion }}
                    </p>
                    <a 
                        [href]="'mailto:' + data.Referencia" 
                        class="tw-text-[rgb(103,232,249)] tw-hover:underline tw-break-words tw-text-sm sm:tw-text-base md:tw-text-lg lg:tw-text-xl"
                    >
                        {{ data.Referencia }}
                    </a>
                </p-card>
            </div>
        </ng-template>
    </p-timeline>
    

